.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0px 12px 0px 12px;
  font-family: "Lato", sans-serif;

  h1 {
    font-size: 1.5rem;
  }
  
  .main-logo {
    margin-bottom: 24px;
    width: 100%;
  }

  .text {
    text-align: center;
    margin-bottom: 24px;
  }

  a {
    text-decoration-line: underline;
  }
}

.business-contact {

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 1px;
    margin-bottom: 6px;

    .icon {
      margin-right: 8px;
    }
  }
}