.content {
  display: flex;
  flex-direction: column;
  margin: 0px 12px 128px 12px;
  width: 100%;
  max-width: 1100px;
}

.center {
  margin: 0px 12px 0px 12px;
  font-family: "Lato", sans-serif;
  align-self: center;

  h1 {
    font-size: 1.5rem;
  }
  
  .main-logo {
    margin-bottom: 24px;
    width: 100%;
  }

  .text {
    text-align: center;
    margin-bottom: 24px;
  }

  a {
    text-decoration-line: underline;
  }
}

.business-contact {
  margin-bottom: 64px;
}

.gallery {
  width: 100%;  
  text-align: center;

  h1 {
    color: #E14046;
    font-family: "Grenoble Serial Bold", serif;
  }

  p {
    color: #535353;
    font-size: 1.25em;
    margin-bottom: 24px;
  }

  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -12px;

    .image-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 12px;

      p {
        color: #535353;
      }

      .dish {
        border-radius: 3px;
        margin-bottom: 6px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .gallery .images .image-wrapper .dish {
    height: 300px;
    width: 300px;
  }

  .gallery h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 501px) {
  .gallery .images .image-wrapper .dish {
    height: 325px;
    width: 325px;
  }

  .gallery h1 {
    font-size: 3.5em;
  }
}